language: ruby
rvm:
  - 2.2.0
  - 2.3.1
  - ruby-head
before_install:
  - gem install bundler -v 1.11.2
  - nvm install 6
  - nvm use 6
  - node -v
install:
  - bundle install
  - npm install
script: ./bin/ci
