// avatars
.avatar,
.mtl-layout-default .side-nav .avatar {
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-family: Arial;
  background: $grey;
  overflow: hidden;
  background-size: 50px 50px;
  text-align: center;
  line-height: 50px;
  position: relative;

  //scss-lint:disable PlaceholderInExtend
  @extend .grey, .lighten-2;
  //scss-lint:enable PlaceholderInExtend

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
