// avatars
.mtl-avatar {
  display: inline-block;
  border-radius: 50%;
  height: $mtl-avatar-size-medium !important;
  width: $mtl-avatar-size-medium !important;
  overflow: hidden;
  text-align: center;
  line-height: $mtl-avatar-size-medium !important;
  position: relative;
  font-size: 11px !important;
  font-weight: normal;

  @extend .grey, .lighten-2;

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }
}

.mtl-avatar.small {
  height: $mtl-avatar-size-small !important;
  width: $mtl-avatar-size-small !important;
  line-height: $mtl-avatar-size-small !important;
  font-size: 10px !important;
}
.mtl-avatar.large {
  height: $mtl-avatar-size-large !important;
  width: $mtl-avatar-size-large !important;
  line-height: $mtl-avatar-size-large !important;
  font-size: 15px !important;
}
