// vars/colors
$avatar-size-small: 25px;
$avatar-size-medium: 32px;
$avatar-size-large: 52px;

// avatars
.avatar {
  display: inline-block;
  border-radius: 50%;
  height: $avatar-size-medium !important;
  width: $avatar-size-medium !important;
  overflow: hidden;
  text-align: center;
  line-height: $avatar-size-medium !important;
  position: relative;
  font-size: 11px !important;
  font-weight: normal;

  @extend .grey, .lighten-2;

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }
}

.avatar.small {
  height: $avatar-size-small !important;
  width: $avatar-size-small !important;
  line-height: $avatar-size-small !important;
  font-size: 10px !important;
}
.avatar.large {
  height: $avatar-size-large !important;
  width: $avatar-size-large !important;
  line-height: $avatar-size-large !important;
  font-size: 15px !important;
}
