// avatars
.avatar,
.mtl-layout-default .side-nav .avatar {
  display: block;
  width: 52px;
  height: 52px;
  line-height: 52px;
  padding: 0;
  border-radius: 26px;

  //scss-lint:disable PlaceholderInExtend
  @extend .grey, .lighten-2;
  //scss-lint:enable PlaceholderInExtend

  .initials,
  img {
    display: block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    border-radius: 26px;
  }
}
