.card {
  .card-content .card-title {
    font-size: $h3-fontsize;
    font-weight: 400;
    line-height: 1.5;
  }

  .card-content > .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  .card-action {
    padding: $card-padding / 2;
  }

  .card-action .btn {
    padding-left: $card-padding / 2;
    padding-right: $card-padding / 2;
  }
}

.card,
.card-panel {
  &.no-padding {
    padding: 0;
  }
}
