.card {
  .card-title {
    font-size: 15px;
    display: block;
    font-weight: 400;
  }
  .card-content {
    .card-title {
      line-height: 20px;

      > *:first-child {
        margin-top: 0;
      }
    }
    > .row {
      margin-left: -.75rem;
      margin-right: -.75rem;
    }
  }
}
