// variables / colors
$mtl-collection-files-spacing: 11px;
$mtl-collection-file-width: 193px;
$mtl-collection-file-height: 93px;

$mtl-collection-file-bg: color('grey', 'lighten-5');
$mtl-collection-file-text-primary: color('grey', 'darken-4');
$mtl-collection-file-text-secondary: color('grey', 'base');

// collection of file cards
.collection-files {
  margin: (-$mtl-collection-files-spacing) 0 0 (-$mtl-collection-files-spacing);
  @include clearafter;

  // extending the card panel
  .card-panel {
    background-color: $mtl-collection-file-bg;
    color: $mtl-collection-file-text-primary;
    margin: $mtl-collection-files-spacing 0 0 $mtl-collection-files-spacing;
    float: left;
    width: $mtl-collection-file-width;
    height: $mtl-collection-file-height;
    position: relative;
    overflow: visible;
    font-size: 13px;
    line-height: 16px;
    background-size: cover;
    background-position: center;
    padding: 12px 13px 0;

    @media #{$small-and-down} {
      width: 100%;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(color('shades', 'black'), .26);
    }

    > strong,
    > span {
      display: block;
      font-size: 13px;
      line-height: 16px;
    }
    > strong {
      color: $mtl-collection-file-text-primary;
    }
    > span {
      color: $mtl-collection-file-text-secondary;
      vertical-align: middle;

      // icon override 1
      .material-icons {
        line-height: 16px;
        height: 16px;
        font-size: 20px;
        vertical-align: middle;
      }
    }

    // image only panel
    &.card-panel-image {
      text-indent: -6000px;

      * {
        display: none;
      }
    }

    // remove button for file cards
    .close {
      text-indent: 0;
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
      width: 20px;
      height: 20px;
      background-color: color('shades', 'white');
      box-shadow: 0 1px 2px rgba(color('shades', 'black'), .26);
      border-radius: 50%;
      transition-duration: .2s;
      transition-property: color, background-color;
      z-index: 2;

      // icon override 2
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      color: color('grey', 'darken-3');

      &:hover {
        color: color('shades', 'white');
        background-color: color('grey', 'darken-3');
      }
      &:active {
        color: color('shades', 'white');
        background-color: color('grey', 'darken-4');
      }
    }
    &:hover .close {
      display: block !important;
    }
  }
}
