.dropdown-content,
.dropdown-content li > a {
  font-size: 1rem;
}

.dropdown-content li > a > .material-icons {
  float: left;
  color: lighten($dropdown-color, 30%);
  font-size: 1.4rem;
  margin-right: 8px;
}
