// scss-lint:disable QualifyingElement SelectorFormat

// caret fix
.select-wrapper span.caret {
  color: inherit;
}

.radio_buttons {
  padding: .8rem .75rem !important;

  > label {
    top: 0;
    padding: 0 !important;
    font-size: .8rem;
  }
}

// radio buttons in one line
.radio_buttons--horizontal {
  > .radio {
    display: inline-block;

    label {
      left: 0 !important;
    }
  }
}

// fix for too long labels
.input-field label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.input-field.col label {
  padding-right: $gutter-width;
  left: .75rem;
}

// fields with text suffix/unit
.input-field.has-suffix {
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search] {
    padding-right: 4rem;
    width: calc(100% - 4rem);
  }

  label {
    padding-right: 4rem;
    width: 100%;
  }

  .suffix {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 3rem;
    color: $input-border-color;
    font-size: $input-font-size;
    text-align: right;
    max-width: 3.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.col {
    label {
      padding-right: 5.5rem;
    }
    .suffix {
      right: .75rem;
    }
  }
}
