// scss-lint:disable QualifyingElement SelectorFormat
.simple_form .check_boxes > label,
.simple_form .radio_buttons > label {
  display: none;
}
.select-wrapper span.caret {
  color: inherit;
}

// fix for too long labels
.input-field label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.input-field.col label {
  padding-right: $gutter-width;
}
