.col {
  &.no-pad {
    padding: 0;
  }
  &.no-pad-left {
    padding-left: 0;
  }
  &.no-pad-right {
    padding-right: 0;
  }
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;

  // fix for iOS rendering
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
}

.no-scroll {
  overflow: hidden;
}
