// sidebar
.side-nav {

  // scss-lint:disable QualifyingElement
  li.active > a,
  li.active > a i.material-icons {
  // scss-lint:enable QualifyingElement
    background-color: $mtl-sidenav-bg-active-color;
    color: $mtl-sidenav-font-active-color;
  }

  ul {
    margin: 0;
  }
}

.side-nav-user {
  margin: 0;
}
