// sidebar
.side-nav {

  // scss-lint:disable QualifyingElement
  li.active {
  // scss-lint:enable QualifyingElement
    background-color: $sidenav-bg-active-color;

    a,
    a * {
      color: $sidenav-font-active-color !important;
    }
  }

  ul {
    margin: 0;
  }

}

.side-nav-user {
  margin: 0;
}
