// sidebar
.side-nav {

  // scss-lint:disable QualifyingElement
  li.active > a {
  // scss-lint:enable QualifyingElement
    background-color: $mtl-sidenav-bg-active-color;
    color: $mtl-sidenav-font-active-color;
    .material-icons {
      color: $mtl-sidenav-font-active-color;
    }
  }

  ul {
    margin: 0;
  }
  .divider {
    margin: 0;
  }
}

.side-nav-user {
  margin: 0;
}
