// default layout: responsive with sidebar
.mtl-layout-default {
  background-color: $mtl-layout-default-bg;
  height: 100%;

  // sidebar logic
  main {
    padding-left: 240px;

    @media #{$medium-and-down} {
      padding: 0;
    }
  }

  // layout components
  &-header {
    position: relative;
    z-index: 2;
    height: auto;
    background-color: $mtl-layout-default-header-bg;
    @include clearafter;

    nav {
      height: auto;

      .select-wrapper {
        margin: 14px 0 0 30px;
        height: 32px;
        overflow: visible;

        .caret {
          top: 0;
          height: 100%;
          line-height: 32px;
        }
      }
      .select-dropdown {
        margin: 0;
        line-height: 32px;
        height: 32px;
      }
      .dropdown-content {
        height: auto;
      }
    }

    .nav-wrapper {
      @include clearafter;
    }

    &.no-padding-bottom {
      padding-bottom: 0;
    }
  }
  &-content {
    padding: 1.5rem;

    &.half-padding {
      padding: .75rem;
    }
    &.no-padding {
      padding: 0;
    }
    &.no-padding-top {
      padding-top: 0;
    }
    &.no-padding-left {
      padding-left: 0;
    }
    &.no-padding-right {
      padding-right: 0;
    }
    &.no-padding-bottom {
      padding-bottom: 0;
    }
  }


  // header elements
  &-header {
    h1 {
      margin: 0;
      font-size: 20px;
      line-height: 44px;
      padding: .75rem 1.5rem;
    }
    .nav-wrapper {

      //.brand-logo {
      //  @media #{$medium-and-down} {}
      //}

      h1 {
        line-height: 64px;
        padding: 0 1.5rem;

        @media #{$medium-and-down} {
          padding-left: .5rem;
        }
        @media #{$small-and-down} {
          line-height: 56px;
        }
      }
    }

    nav {
      @media #{$large-and-up} {
        background-color: $mtl-layout-default-header-bg;
        color: $mtl-layout-default-text;
      }
      * {
        @media #{$large-and-up} {
          color: $mtl-layout-default-text;
        }
      }
    }

    &-toggle {
      width: 64px;
      text-align: center;

      i {
        width: 100%;
      }
    }
    //&-back {}
  }

  // container override
  .container {
    width: 100%;
    max-width: 896px;
  }

  // header nav toggler
  > nav .button-collapse {
    padding: 0 1.3rem;
  }

  // sidebar
  .side-nav {
    a {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
    }

    // user block
    &-user {
      padding: 20px;

      a {
        display: inline-block;
        padding: 0;
      }

      // avatars
      //.avatar {
      //  .initials {}
      //}

      // account info
      &-infos {
        margin: 8px 0 0 !important;
        display: block !important;
        height: auto !important;
        line-height: 18px !important;
      }
      &-name {
        display: block;
        font-weight: bold;
        line-height: 18px;
      }
      &-mail {
        display: block;
        line-height: 18px;
      }

      // toggle icon
      //&-toggle {}
    }
    &-divider {
      padding: 10px 0;
    }


    .active a {
      font-weight: 400;
    }
  }

  nav h1 {
    float: left;
    margin: 0;
    font-size: 30px;
    height: 64px;
    line-height: 64px;
  }

}
