// default layout: responsive with sidebar
.mtl-layout-default {
  background-color: $mtl-layout-default-bg;
  height: 100%;

  // sidebar logic
  main {
    padding-left: 240px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media #{$medium-and-down} {
      padding: 0;
    }
  }
}

// header area
.mtl-layout-default-header {
  position: relative;
  z-index: 2;
  height: auto;
  background-color: $mtl-layout-default-header-bg;
  color: $mtl-layout-default-header-text;
  @include clearafter;

  .btn-more {
    color: $mtl-layout-default-header-text;
  }

  .page-title {
    float: left;
    margin: 0;
    line-height: 64px;
    padding: 0 1.5rem;

    @media #{$medium-and-down} {
      padding-left: .5rem;
    }
    @media #{$small-and-down} {
      line-height: 56px;
    }
  }

  nav {
    height: auto;
    background-color: $mtl-layout-default-header-bg;
    color: $mtl-layout-default-header-text;

    .select-wrapper {
      margin: 14px 0 0 30px;
      height: 32px;
      overflow: visible;

      .caret {
        top: 0;
        height: 100%;
        line-height: 32px;
      }
    }
    .select-dropdown {
      margin: 0;
      line-height: 32px;
      height: 32px;
    }
    .dropdown-content {
      height: auto;
    }
  }

  .nav-wrapper {
    @include clearafter;

    .row {
      margin: 0;
    }
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  .fixed-action-btn {
    position: absolute;
    right: 34px;
    bottom: 0;
    padding: 0;
    transform: translate(0, 50%);
  }
  p {
    margin: 0;
  }

  &-toggle {
    width: 64px;
    text-align: center;

    i {
      width: 100%;
    }
  }
  //&-back {}
}

// content area
.mtl-layout-default-content {
  padding: 1.5rem;
  box-flex: 1;
  flex: 1;
  justify-content: space-between;

  &.half-padding {
    padding: .75rem;
  }
  &.no-padding {
    padding: 0;
  }
  &.no-padding-top {
    padding-top: 0;
  }
  &.no-padding-left {
    padding-left: 0;
  }
  &.no-padding-right {
    padding-right: 0;
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }

  > .row:last-child {
    margin-bottom: 0;
  }
}


// container override
.mtl-layout-default {
  .container {
    width: 100%;
    max-width: 896px;
  }

  // header nav toggler
  > nav .button-collapse {
    padding: 0 1.3rem;
  }

  // sidebar
  .side-nav {
    width: $mtl-layout-default-sidenav-width;
    background-color: $mtl-layout-default-sidenav-bg;
    color: $mtl-layout-default-sidenav-text;

    a {
      font-size: 1rem;
      height: $sidenav-item-height;
      line-height: $sidenav-item-height;

      .material-icons {
        width: auto;
        height: $sidenav-item-height;
        line-height: $sidenav-item-height;
        margin-right: 8px;
      }
    }

    // user block
    &-user {
      padding: 20px;
      background-color: $mtl-layout-default-usernav-bg;
      color: $mtl-layout-default-usernav-text;

      a {
        display: inline-block;
        padding: 0;
      }

      // account info
      &-infos {
        margin: 8px 0 0 !important;
        display: block !important;
        height: auto !important;
        line-height: 18px !important;
      }
      &-name {
        display: block;
        font-weight: bold;
        line-height: 18px;
      }
      &-mail {
        display: block;
        line-height: 18px;
      }

      // toggle icon
      //&-toggle {}
    }
    &-divider {
      padding: 10px 0;
    }


    .active a {
      font-weight: 400;
    }
  }
}
