@charset 'UTF-8';

// Reset
@import 'materialize/normalize';

// components
@import 'materialize/global';
@import './extend/global';

@import './extend/material-icons';
@import 'materialize/grid';
@import 'materialize/navbar';

//@import 'materialize/roboto';
@import './extend/roboto-rails'; // using asset_url's

@import 'materialize/typography';

@import 'materialize/cards';
@import './extend/cards';

@import 'materialize/toast';

@import 'materialize/tabs';
@import './extend/tabs';

@import 'materialize/tooltip';
@import 'materialize/buttons';
@import 'materialize/dropdown';
@import 'materialize/waves';
@import 'materialize/modal';
@import 'materialize/collapsible';

@import 'materialize/chips';
@import './extend/chips';

@import 'materialize/materialbox';
@import 'materialize/forms/forms';
@import './extend/forms';
@import 'materialize/table_of_contents';

@import 'materialize/sideNav';
@import './extend/side-nav';
@import './extend/patch_side-nav';

@import './extend/avatars';

@import 'materialize/preloader';
@import 'materialize/slider';
@import 'materialize/carousel';
@import 'materialize/date_picker/default';
@import 'materialize/date_picker/default.date';
@import 'materialize/date_picker/default.time';

// extending the materializer library even more
@import './extend/mixins';

// including layouts
html { height: 100%; } // yes, necessary
@import './layouts/default';
@import './layouts/single';
