@charset 'UTF-8';

// Reset
@import 'materialize/normalize';

// components
@import 'materialize/mixins';
@import 'materialize/global';
@import 'materialize/icons-material-design';
@import 'materialize/grid';
@import 'materialize/navbar';
@import 'materialize/roboto';
@import 'materialize/typography';
@import 'materialize/cards';
@import 'materialize/toast';
@import 'materialize/tabs';
@import 'materialize/tooltip';
@import 'materialize/buttons';
@import 'materialize/dropdown';
@import 'materialize/waves';
@import 'materialize/modal';
@import 'materialize/collapsible';
@import 'materialize/chips';
@import 'materialize/materialbox';
@import 'materialize/forms/forms';
@import 'materialize/table-of-contents';
@import 'materialize/side-nav';
@import 'materialize/avatars';
@import 'materialize/preloader';
@import 'materialize/slider';
@import 'materialize/carousel';
@import 'materialize/date-picker/default';
@import 'materialize/date-picker/default.date';
@import 'materialize/date-picker/default.time';
@import 'materialize/document-modals';
@import 'materialize/pulse';
@import 'materialize/tap-target';
@import 'materialize/collection-files';

// layouts
@import 'materialize/layouts/default';
@import 'materialize/layouts/single';
